<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwg.shiro.web.mapper.UserRoleMapper">
    <resultMap id="BaseResultMap" type="com.gwg.shiro.web.model.UserRole">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="BID" jdbcType="BIGINT" property="bid"/>
        <result column="ROLEID" jdbcType="VARCHAR" property="roleid"/>
        <result column="USERID" jdbcType="VARCHAR" property="userid"/>
    </resultMap>
    <select id="queryRoleListByUserid" resultType="java.lang.String">
      SELECT
      t1.NAME
      FROM
      tbl_role t1
      LEFT JOIN tbl_user_role t2 ON t1.id = t2.ROLEID
      LEFT JOIN tbl_user t3 ON t3.id = t2.USERID
      WHERE t3.USERID = #{userid}
     </select>
</mapper>